/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body
{
	height: 100%;
}


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Teach Recovery Styles
  ----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	font-family: 'Lato', Arial, helvetica, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #333;
}

body {
	background-color: #f0f0f0;
}

b, strong {
	font-weight: 700;
}

h1 {
	font-size: 1.8em /*28px*/;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.5em /*24px*/;
	margin: 0 0 1em 0;
}

h3 {
	font-size: 1.375em /*22px*/;
	margin: 0 0 1em 0;
}

h4 {
	font-size: 1.25em /*20px*/;
	margin: 0 0 1em 0;
}

h5 {
	font-size: 1.125em /*18px*/;
	margin: 0 0 1em 0;
}

.full-container {
	min-height: 100%;
	position: relative;
	margin-bottom: -175px;
}

.full-container > .container {
  	background-color: #fff;
  	min-height: 100%;
  	margin-top: -20px;
	padding: 1.5em;
}

#content {
  min-height: 100%;
  text-align: center;
}

#content > .pageblock > p {
  min-height: 100%;
  text-align: left;
  margin: 1em 0 2em 0;
}

.imgcenter {
	margin: 0 auto;
}


	/* Header
	 ------------------------------------------- */


	.navbar-default {
		background-color: #fade6e;
		border: none;
		color: #333;
		font-size: .875em;
		position: relative;
	}

	.navbar .btn {
		font-size: .875em;
	}

	.brand {
		width: 150px;
	}

	.clearfooter {
		height: 175px;
		clear: both;
	}

	/* Video content
	 ------------------------------------------- */

	#content > .pageblock > iframe {
		max-width: 100%;
		margin: 0 auto;
	}

	/* Quiz content
	 ------------------------------------------- */

	.quizblock-description, .quiz-description {
		display: none;
	}

	.cases {
		width: 65%;
		margin: 0 auto 3em auto;
		text-align: left;
	}

	.casecontent {
		background-color: #f9f9f9;
		padding: 15px 25px 25px 25px;
	}

	.casequestion {
		background: #fff;
		padding: 10px;
	}

	.casecontent p {
		margin: 10px 0 0 0;
	}

	.question-text {
		margin:0 0 1em 0;
		line-height: 1.5em;
	}

	.answer-options ul li {
		margin: .5em 0;
	}

	.answer-options ul li input {
		margin: 0 5px 0 0;
	}


	.errornote {
	    background: url("/media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
	    border: 1px solid #c00 !important;
	    display: block;
	    font-size: 11px !important;
	    margin: 0 0 10px 0;
	    padding: 5px 5px 5px 10px !important;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    line-height: 140%;
	}


	.casetitle{
	    display: none;
	}
	.incorrect{
	  color:#aaa;

	}
	.incorrect:after{
	  content: url('/media/img/incorrect.png');
	  position: relative;
	  top: 3px;
	}
	.correct:after{
	  content: url('/media/img/correct.png');
	  position: relative;
	  top: 3px;
	}
	[class^="icon-"],
	[class*=" icon-"] {
	  display: inline-block;
	  width: 14px;
	  height: 14px;
	  margin-top: 1px;
	  *margin-right: .3em;
	  line-height: 14px;
	  vertical-align: text-top;
	  background-image: url("../bootstrap/img/glyphicons-halflings.png");
	  background-position: 14px 14px;
	  background-repeat: no-repeat;
	}
	.icon-ok {
	  background-position: -288px 0;
	}

	.btn {
		background-color: #faebae;
		font-family: 'Lato', Arial, helvetica, sans-serif;
		font-size: 1.25em;
	}

	.btn.btn-primary {
	color: #fff;
	background-color: #499eff;
	border-color: #3e86d9;
}

	p.explanation {
		background-color: #f9f9f9;
	}



	/* Exam feedback
	 ------------------------------------------- */

	#score {
width: 35%;
margin: -48px auto 0 auto;
font-size: 1.25em;
padding: 30px;

}
 	#feedback {
 		width: 65%;
 		margin: 0 auto 50px auto;
 	}

 	.percentage {
 		border: dotted 1px #ccc;
 		padding: 20px;
 		font-size: 2em;
 	}

	.feedback.fail {
		color: red;
	}

	.feedback.pass {
		color: green;
	}

	.feedback.weakness {
		background-color: #f9f9f9;
		margin: 30px 0 0 0;
	}

	.feedback.weakness .subject {
		border-bottom: dotted 1px #ccc;
		padding: 10px;
	}

	/* Side Menu
	 ------------------------------------------- */
	.side-menu {
	  float: left;
	  display: inline;
	}

	nav.sub-menu {
	  padding: 0 20px;
	}

	.side-menu ul li.menu-3 {
	  font-size: .875em;
	  color: #333;
	  display: inline;
	}


	.side-menu ul li:first-child {
		display: none;
	}

	.side-menu ul li a {
		color: #499eff;
	}

	li.menu-3 b {
		color: #555;
	}

	li.menu-4 {
		display: none;
	}
	a.primary-menu-3.current {
	  font-weight: bold;
	}

	#resource-pages a {
	  font-size: 14px;
	  color: #499eff;
	}

	/* Pager
	 ------------------------------------------- */

	ul.pager {
		margin-top: 75px;
	}

	.pager li>a, .pager li>span {
		display: inline-block;
		padding: 5px 14px;
		background-color: #fade6e;
		border:none;
		border-radius: 3px;
		font-size: 1.25em;
		color: #333;
	}

	.pager li>a:hover, .pager li>span:hover {
		background-color: #faebae;
	}

	.pager li>a:active, .pager li>span:active {
		box-shadow: inset 0 3px 5px #ccc;
	}

	ul.side-navigation li a.disabled {
		color: #999;
		cursor: not-allowed;
	}

	ul.pager li.next a.disabled {
		color: #999;
		cursor: not-allowed;
	}

	ul.pager li.next a.disabled:active {
		box-shadow: none;
	}

	/* Footer
	 ------------------------------------------- */

.footer {
	height: 175px;
	padding: 50px 0;
	background-color:#499eff;
	width: 100%;
	position: relative;
   	bottom:0;
}

.footer ul li {
	display: inline;
	list-style-type: none;
	padding: 0 1em 0 0;
	color: #fff;
}

.footer ul li a {
	color: #fff;
}

.footer-right ul {
	float :right;
	margin-right: -40px;
}


.footer-right ul li {
	padding: 0 0 0 50px;
}


.footer-right ul li img {
	width: 150px;
}

/* Login page
 ------------------------------------------- */

.login-description {
    margin: 30px 30px 15px 30px;
    text-align: center;
    width: 100%;
}

.login-description h2 {
    line-height: 1.3em;
    display: block;
}

.loginbox-container {
    float: right;
    height: 265px;
    margin-top: 10px;
}

.loginbox-container.columbia {
    height: 300px;
}
.loginbox
{
    display: block;
    width: 300px;
    margin: 0 30px 0 20px;
    padding: 0;
    border: 1px solid #999;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 12px;
}
.loginbox h2
{
    margin: 0 !important;
    padding: 5px 10px !important;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    background: #e0e0e0;
    font-weight: bold !important;
    font-size: 14px !important;
    color: black;
}
.loginbox .content
{
    margin: 0;
    padding: 10px 10px 0 10px;
    border: 0;
}

.loginbox .seperator
{
    margin: 20px 0;
    padding: 0;
    border: 0;
    border-top: 1px dotted #999;
    background-color: #fff;
}

.loginbox .fieldwrapper
{
    margin: 0 0 10px 10px;
    padding: 0;
    border: 0;
}
.loginbox .fieldwrapper label
{
    display: block;
    font-weight: bold;
    color: #666;
    font-size: 12px;
}

.loginbox .fieldwrapper input {
    width: 250px;
    margin: 2px 0;
    padding: 3px;
    border: 0;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font: bold 12px arial, helvetica, verdana, sans-serif;
}

.loginbox .fieldwrapper input:focus
{
    border: 1px solid #06f;
    background-color: #fff;
}

.loginbox .regbutton
{
    cursor: pointer;
    padding: 4px 17px;
    margin: 0 0 10px 10px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
    background: -moz-linear-gradient(top, #fff, #e6e6e6);
    font: bold 14px arial, helvetica, verdana, sans-serif !important;
    text-transform: uppercase;
}
.loginbox .regbutton:hover
{
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);
}
.loginbox .regbutton:active
{
    border: 1px solid #006666;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
    background: -moz-linear-gradient(top, #fff, #669999);
}

.loginbox .smalltxt
{
    font-size: 11px;
}

.module-title-index{
    text-transform: capitalize;
		color: #000;
		margin: 0 0 1em 0;
}
/* Speciality Styles
 ------------------------------------------- */
