{% load accessible %}

<nav class="slide-out-menu transition">
        <div class="pull-left primary-toc">
            <ul class="side-navigation">
            {% for s in menu %}
                  <li class="menu-{{s.depth}}">
                  <a href="{{s.url}}" data-id="{{s.id}}"
                     class="primary-menu-{{s.depth}}{% ifequal s.id section.id %} current{% endifequal %}{% if s.disabled %} disabled{% endif %}">{{s.label}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </nav>
