{% extends 'pagetree/base_pagetree.html' %}
{% load render %}
{% load accessible %}
{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h1>{{section.label}}</h1>{% endblock %}

{% block moduletabs %}

<ul class="nav navbar-nav">
  {% for section in modules %}
  <li{% ifequal section.id module.id %} class="active"{% endifequal %}><a href="{{section.get_absolute_url}}">{{section.label}}</a></li>
  {% endfor %}
</ul>

{% endblock %}

{% block navrightextra %}
{% if not request.user.is_anonymous %}
<li><a href="{{section.get_edit_url}}" class="btn-success">edit page</a></li>
{% endif %}
{% endblock %}


{% block sidenav %}
<div class="side-menu">
  <div class="second-nav">
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
        {% include "pagetree/menu.html" %}
        {% endif %}
      </div>
      <!-- ###### Course Resource Pages ###### -->
      <ul id="resource-pages">
        {% for page in resource_pages %}
                <li><a target="_blank" href="{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
      </ul>

</div>

{% endblock %}

{% block content %}
<div id="content">
{% if needs_submit %}
{% if is_submitted %}
{% else %}
<form id="form" action="." method="post">
{% endif %}
{% endif %}


{% for block in section.pageblock_set.all %}
<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% render block %}
</div>
{% endfor %}

{% if needs_submit %}
{% if request.user.is_anonymous %}
{% else %}

{% if is_submitted %}
{% for block in section.pageblock_set.all %}
{% if block.block.display_name == "Quiz Random"%}
  {% if forloop.last %}
    {% if page_status == 'complete' %}
      {% include "quizblock_random/complete_quiz_feedback.html" %}
    {% endif %}
  {% endif %}
{% endif %}

{% endfor %}

{% if allow_redo %}
<form action="." method="post">
<input type="hidden" name="action" value="reset" />
<input type="submit" value="clear your answers and try again" class="btn" />
</form>
{% endif %}

{% else %}
<input id="submit" name="submit" value="Submit" class="btn btn-primary" />

</form>

<script>
jQuery(document).ready(function(){
var btn = jQuery('#submit');
var form, uls, is_ready_to_submit, questions_ready;
btn.click(function(){
  form = jQuery(this).parent();
  uls = form.find('.answer-options ul');
  is_ready_to_submit = false;
  questions_ready =[];
  jQuery(uls).each(function(){
    inputs = jQuery(this).find('input');
    inputs.each(function(){
      if (jQuery(this).is(':checked') ){
        questions_ready.push(true);
      }
    })
  })
  if(questions_ready.length == uls.length){
    jQuery('#form').append('<input class="hidden" id="submit-ready" type="submit">');
    jQuery('#submit-ready').trigger('click');
  }else{
    alert('Please complete all questions.')
  }
})//end .click

});
</script>

{% endif %}
{% endif %}
{% endif %}

{% include "pagetree/toc.html" %}

</div>
{% endblock %}

{% block content-nav %}

{% with previous=section.get_previous next_section=section.get_next %}
<ul class="pager">
{% if previous %}
{% is_from_another_module previous section as prev_from_another_mod %}
  {% if not prev_from_another_mod %}
    <li class="previous">
  		<a href="{{previous.get_absolute_url}}">&larr; {{previous.label}}</a>
    </li>
  {% endif %}
{% endif %}

{% if next_section %}
{% is_from_another_module next_section section as next_from_another_mod %}

  {% if not next_from_another_mod %}
  <li class="next"><a class="{% ifsubmitted section %}{% else %}disabled{%endifsubmitted%}" href="{{next_section.get_absolute_url}}">{{next_section.label}} &rarr;</a></li>
  {% endif %}
{% endif %}
</ul>
{% endwith %}
{% endblock %}
